@font-face {
  font-family: "Roboto Mono";
  src: url("../../dashboard/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../../dashboard/assets/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: block;
}

.dashboard {
  font-family: "Roboto Mono", monospace;

  * {
    font-family: "Roboto Mono", monospace;
  }

  input[type="checkbox"]:checked {
    border-color: #d9d9d9;
  }

  input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #d9d9d9;
  }

  input[type="radio"]:checked {
    border-color: #d9d9d9;
  }

  input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #d9d9d9;
    border-radius: 50%;
  }

  input[type="checkbox"]:hover,
  input[type="radio"]:hover {
    border-color: #d9d9d9;
  }
}
