.dashboard-body {
  background-color: #1a1a1a; /* Dark background */
  color: #f9f9f9; /* Light text */
  height: 100%;
  width: 100%;

  .dashboard {
    background-color: #000000;
    color: #f9f9f9;
    font-family: "Roboto Mono", monospace;
    padding: 10px;
    height: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-start;
  }

  .matrix-selector {
    display: grid;
    align-items: center;
  }

  .matrix-row {
    display: flex;
    justify-content: center;
  }

  .matrix-item {
    border: 1px solid #333;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .matrix-item:not(.bg-red-500):not(.bg-blue-500) {
    background-color: #242424;
  }

  .matrix-item:not(.active):not(.disabled):hover {
    background-color: #353535;
    border-color: #555;
  }

  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    color: red;
  }

  @keyframes flash {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .preloading {
    position: relative;
    padding-right: 18px !important;
  }

  .preloading::after,
  .preloading--active::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .preloading::after {
    background-color: white;
  }

  .preloading--active::after {
    background-color: red;
    animation: flash 1s infinite;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
