.projector {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &::after {
    /* Positioning the ::after pseudo-element */
    content: "";
    position: fixed; /* Use 'absolute' if the container is not the body */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; /* Adjust the z-index to make sure it covers everything else */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;

    /* Optionally, you can add a background color with opacity */
    /* background-color: rgba(0, 0, 0, 0.5); */ /* Semi-transparent black */

    /* Making sure the overlay is clickable-through */
    pointer-events: none;
  }

  #webpack-dev-server-client-overlay {
    display: none !important;
  }

  .modules {
    width: 100%;
    height: 100%;
  }

  .module {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: center;
  }
}
